<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineLibraryWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineLibraryWebApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light custom-header border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Book Lover</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString() == "Categories" ? "active" : "")" asp-area="" asp-controller="Categories" asp-action="Index">Категорії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString() == "Books" ? "active" : "")" asp-area="" asp-controller="Books" asp-action="Index">Всі Книги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString() == "Publishers" ? "active" : "")" asp-area="" asp-controller="Publishers" asp-action="Index">Видавництва</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString() == "Genres" ? "active" : "")" asp-area="" asp-controller="Genres" asp-action="Index">Жанри</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString() == "Authors" ? "active" : "")" asp-area="" asp-controller="Authors" asp-action="Index">Автори</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white @(ViewContext.RouteData.Values["Controller"].ToString() == "Possessions" ? "active" : "")" asp-area="" asp-controller="Possessions" asp-action="Index">Моя бібліотека</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Book Lover - <a asp-area="" asp-controller="Home" asp-action="Privacy">Правила сайту</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
