@model IEnumerable<OnlineLibraryWebApplication.Models.Category>

@{
    ViewData["Title"] = "Категорії книг";
}

<h1>Категорії книг</h1>

@*<p>
    @Html.ActionLink("Додати нову категорію", "Create", new { categoryId = ViewBag.CategoryId })
</p>
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var category in Model)
    {
        <div class="col">
            <a href="@Url.Action("Index", "Genres", new { Id = category.Id, Name = category.CategoryName, filteredBy = "categories" })" class="card custom-card-category">
                <!-- Змінено клас на custom-card-category -->
                <img src="@Url.Content($"~/pictures/{category.CategoryName}.jpg")" class="card-img-top" alt="Картинка категорії">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => category.CategoryName)</h5>
                </div>
            </a>
        </div>
    }
</div>