@model IEnumerable<OnlineLibraryWebApplication.Models.Publisher>

@{
    ViewData["Title"] = "Список видавництв";
}

<h1>Видавництва</h1>

@*<p>
    <a asp-action="Create">Додати нове видавництво</a>
</p>
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var publisher in Model)
    {
        <div class="col">
            <a href="@Url.Action("Index", "Books", new { Id = publisher.Id, Name = publisher.PublisherName, filteredBy = "publishers" })" class="card custom-card-category">
                <img src="@Url.Content($"~/pictures/{publisher.PublisherName}.jpg")" class="card-img-top" alt="Картинка видавництва">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => publisher.PublisherName)</h5>
                </div>
            </a>
        </div>
    }
</div>
