@model OnlineLibraryWebApplication.Models.Book

@{
    ViewData["Title"] = "Видалити книгу";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що бажаєте видалити цю книгу?</h3>
<div>
    <h4>Книга</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class="col-sm-2">
            Зображення
        </dt>
        <dd class="col-sm-10">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" alt="Book Image" width="254" height="398" />
        </dd>
        <dt class = "col-sm-2">
            Видавництво
        </dt>
        <dd class = "col-sm-10">
            <a href="@Url.Action("Index", "Books", new { id = Model.PublisherId, name = Model.PublisherName, filteredBy = "publishers" })">
                @Model.PublisherName
            </a>
        </dd>
    </dl>
    
    <form asp-action="Delete" onsubmit="return confirm('Чи точно ви бажаєте видалити цю книгу?');">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a href="javascript:window.history.back()">Повернутися до списку</a>
    </form>
</div>
