@model OnlineLibraryWebApplication.Models.Book

@{
    ViewData["Title"] = Model.Title;
}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
@*<h1>@Model.Title</h1>

 <div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class="col-sm-2">
            Зображення
        </dt>
        <dd class="col-sm-10">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" alt="Book Image" width="254" height="398" />
        </dd>
        <dt class = "col-sm-2">
            Видавництво
        </dt>
        <dd class = "col-sm-10">
            <a href="@Url.Action("Index", "Books", new { id = Model.PublisherId, name = Model.PublisherName, filteredBy = "publishers" })">
                @Model.PublisherName
            </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a href="javascript:window.history.back()">Повернутися до списку</a>
</div>
 *@

<div class="container book-details-container">
    <div class="row">
        <div class="col-sm-6">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" alt="Book Image" width="363" height="570" />
        </div>
        <div class="col-sm-6 ml-3">
            <h2 class="card-title">@Html.DisplayFor(modelItem => Model.Title)</h2>
            <dl class="row">
                <p class="card-text additional-info">
                    Видавництво:
                    <a href="@Url.Action("Index", "Books", new { id = Model.PublisherId, name = Model.PublisherName, filteredBy = "publishers" })">
                        <strong>@Html.DisplayFor(modelItem => Model.Publisher.PublisherName)</strong>
                    </a>
                </p>
                <div>
                    <p class="card-text additional-info">Рік видання: <strong>@Html.DisplayFor(modelItem => Model.PublicationYear)</strong></p>
                    <p class="card-text additional-info">
                        Категорії:
                        @foreach (var category in Model.Categories)
                        {
                            <a href="@Url.Action("Index", "Books", new { id = category.Id, name = category.CategoryName, filteredBy = "categories" })">
                                <strong>@category.CategoryName</strong>
                            </a>
                            @if (category != Model.Categories.Last())
                            {
                                <span class="comma">, </span>
                            }
                        }
                    </p>
                    <p class="card-text additional-info">
                        Жанри:
                        @foreach (var genre in Model.Genres)
                        {
                            <a href="@Url.Action("Index", "Books", new { id = genre.Id, name = genre.GenreName, filteredBy = "genres" })">
                                <strong>@genre.GenreName</strong>
                            </a>
                            @if (genre != Model.Genres.Last())
                            {
                                <span class="comma">, </span>
                            }
                        }
                    </p>
                    <p class="card-text additional-info">
                        Автор(и):
                        @foreach (var author in Model.Authors)
                        {
                            <a href="@Url.Action("Index", "Books", new { id = author.Id, name = author.Author1, filteredBy = "authors" })">
                                <strong>@author.Author1</strong>
                            </a>
                            @if (author != Model.Authors.Last())
                            {
                                <span class="comma">, </span>
                            }
                        }
                    </p>
                    <p id="description" class="card-text additional-info">
                        <strong>Анотація:</strong></br>
                        @Html.Raw(Model.Description.ToString())
                    </p>
                    <p id="read-more" class="card-text additional-info read-more" onclick="toggleDescription()">Читати далі</p>
                    <div class="buttons-container">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form id="addToLibraryForm">
                                <input type="hidden" id="bookId" value="@Model.Id" />
                                <button type="button" class="custom-button mt-3" onclick="addToLibrary()">Додати до бібліотеки</button>
                            </form>
                        }
                    </div>
                </div>               
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <embed src="/pdfs/@(System.Net.WebUtility.UrlEncode(Model.Title).Replace( "+", "%20").Replace("%22", "%27")).pdf"
                   type="application/pdf"
                   frameBorder="0"
                   scrolling="auto"
                   height="700px"
                   width="600"></embed>
        </div>
        <div class="col-sm-6 ml-3 mt-4 d-flex align-items-center">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <h3 class="mb-4" style="color: #6F42C1;">Відгуки</h3>

                <div id="reviewsCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        @if (Model.Reviews != null && Model.Reviews.Any())
                        {
                            var isFirst = true;
                            foreach (var review in Model.Reviews)
                            {
                                <div class="carousel-item @(isFirst ? "active" : "")">
                                    <div class="review-item">
                                        <p class="mb-0">
                                            @if (review.User != null)
                                            {
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="user-name" style="color: #6F42C1; font-size: 18px;"><strong>@review.User.Name</strong></span>
                                                    <span class="text-warning">@review.StarsForRating()</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="user-name" style="color: #6F42C1; font-size: 18px;"><strong>Анонімний користувач</strong></span>
                                                    <span class="text-warning">@review.StarsForRating()</span>
                                                </div>
                                            }

                                            @if (!string.IsNullOrEmpty(review.Comment))
                                            {
                                                <br />
                                                <div>
                                                    @review.Comment
                                                    <br />
                                                    <div class="mt-2">
                                                        <span class="text-muted">@review.Date.ToString("yyyy-MM-dd")</span>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                            <p>Без коментаря</p>
                                            }
                                        </p>
                                    </div>
                                </div>
                                isFirst = false;
                            }
                        }
                        else
                        {
                            <p>На жаль, поки немає відгуків для цієї книги.</p>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#reviewsCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#reviewsCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <form action="/Reviews/AddReview" method="post" class="mt-4" style="width: 50%; border-radius: 15px; padding: 20px; background-color: #F4EDFF; margin: 0 auto;">
        <div class="form-group">
            <label for="userName" style="color: #6F42C1; font-weight: bold;">Ім'я</label>
            <input type="text" class="form-control" id="userName" name="userName" required>
        </div>
        <div class="form-group">
            <label for="rating" style="color: #6F42C1; font-weight: bold;">Оцінка (від 1 до 5)</label>
            <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
        </div>
        <div class="form-group">
            <label for="comment" style="color: #6F42C1; font-weight: bold;">Коментар</label>
            <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
        </div>
        <button type="submit" class="custom-button mt-3">Додати відгук</button>
    </form>
</div>
