@model IEnumerable<OnlineLibraryWebApplication.Models.Book>

@{
    ViewData["Title"] = "Книги за категорією";
}

<h1>@ViewBag.PageTitle</h1>

@*<p>
    @Html.ActionLink("Додати нову книгу", "Create", new {categoryId = ViewBag.CategoryId})
</p>
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                <img src="data:image/jpg;base64,@Convert.ToBase64String(item.Image)" alt="Зображення" width="254" height="398">
            </td>
            <td>
                <a href="@Url.Action("Index", "Books", new { id = item.PublisherId, name = item.PublisherName, filteredBy = "publishers" })">
                  @item.PublisherName
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
<form action="@Url.Action("Index")" method="get">
    <div class="input-group mb-3" style="width: 33%;">
        <input type="text" class="form-control rounded-pill" placeholder="Введіть назву книги" name="search" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary rounded-pill" type="submit">Пошук</button>
        </div>
    </div>
</form>

@foreach (var book in Model)
{
    <div class="card mb-3 custom-card" style="max-width: 900px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="data:image/jpg;base64,@Convert.ToBase64String(book.Image)" alt="Зображення" width="254" height="398">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => book.Title)</h5>
                    <p class="card-text card-description">@Html.Raw(book.Description.ToString().Substring(0, Math.Min(250, book.Description.Length))) ...</p>
                    <p class="card-text additional-info">
                        Видавництво:
                        <a href="@Url.Action("Index", "Books", new { id = book.PublisherId, name = book.PublisherName, filteredBy = "publishers" })">
                            <strong>@Html.DisplayFor(modelItem => book.Publisher.PublisherName)</strong>
                        </a>
                    </p>
                    <p class="card-text additional-info">Рік видання: <strong>@Html.DisplayFor(modelItem => book.PublicationYear)</strong></p>
                    <p class="card-text additional-info">
                        Категорії:
                        @foreach (var category in book.Categories)
                        {
                            <a href="@Url.Action("Index", "Books", new { id = category.Id, name = category.CategoryName, filteredBy = "categories" })">
                                <strong>@category.CategoryName</strong>
                            </a>
                            @if (category != book.Categories.Last())
                            {
                                <span class="comma">, </span>
                            }
                        }
                    </p>
                    <p class="card-text additional-info">
                        Жанр(и):
                        @foreach (var genre in book.Genres)
                        {
                            <a href="@Url.Action("Index", "Books", new { id = genre.Id, name = genre.GenreName, filteredBy = "genres" })">
                                <strong>@genre.GenreName</strong>
                            </a>
                            @if (genre != book.Genres.Last())
                            {
                                <span class="comma">, </span>
                            }
                        }
                    </p>
                    <p class="card-text additional-info">
                        Автор(и):
                        @foreach (var author in book.Authors)
                        {
                            <a href="@Url.Action("Index", "Books", new { id = author.Id, name = author.Author1, filteredBy = "authors" })">
                                <strong>@author.Author1</strong>
                            </a>
                            @if (author != book.Authors.Last())
                            {
                                <span class="comma">, </span>
                            }
                        }
                    </p>
                </div>
                <form asp-action="Details" asp-route-id="@book.Id" method="get" class="d-grid justify-content-start">
                    <button type="submit" class="custom-button">Детальніше</button>
                </form>
            </div>
        </div>
    </div>
}
