@model IEnumerable<OnlineLibraryWebApplication.Models.Genre>

@{
    ViewData["Title"] = "Жанри";
}

<h1>@ViewBag.PageTitle</h1>

@*<p>
    <a asp-action="Create">Додати новий жанр</a>
</p>
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                @foreach (var genre in Model)
                {
                    <a href="@Url.Action("Index", "Books", new { Id = genre.Id, Name = genre.GenreName, filteredBy = "genres" })" class="list-group-item list-group-item-action custom-card d-flex justify-content-between align-items-center">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => genre.GenreName)</h5>
                        <span class="badge rounded-pill badge-dark-purple">@genre.BookCount</span>
                    </a>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div id="countByGenreChart" style="margin-top: 50px;"></div>
            <div style="margin-left: 90px;">
                <input type="radio" id="CountByGenres" name="chartType" value="TopMostBooks">
                <label for="CountByGenres">ТОП-5 жанрів за найбільшою кількістю книг</label>
            </div>
            <div style="margin-left: 90px;">
                <input type="radio" id="CountByGenres2" name="chartType" value="TopLeastBooks">
                <label for="CountByGenres2">ТОП-5 жанрів за найменшою кількістю книг</label>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            // Функція для відображення діаграми для ТОП-5 жанрів з найбільшою кількістю книг
            function drawTop5MostBooksChart() {
                fetch(`/api/charts/CountByGenres`)
                    .then(response => response.json())
                    .then(data => {
                        const dataTable = new google.visualization.DataTable();
                        dataTable.addColumn('string', 'Жанр');
                        dataTable.addColumn('number', 'Кількість книг');
                        data.forEach(item => {
                            dataTable.addRow([item.genre, item.count]);
                        });
                        const options = {
                            title: "ТОП-5 жанрів за найбільшою кількістю книг",
                            width: 600,
                            height: 400,
                            colors: ['#9E7BFF'],
                            hAxis: {
                                ticks: [0, 2, 4, 6, 8, 10]
                            }
                        };
                        var chart = new google.visualization.BarChart(document.getElementById('countByGenreChart'));
                        chart.draw(dataTable, options);
                    });
            }

            // Функція для відображення діаграми для ТОП-5 жанрів з найменшою кількістю книг
            function drawTop5LeastBooksChart() {
                fetch(`/api/charts/CountByGenres2`)
                    .then(response => response.json())
                    .then(data => {
                        const dataTable = new google.visualization.DataTable();
                        dataTable.addColumn('string', 'Жанр');
                        dataTable.addColumn('number', 'Кількість книг');
                        data.forEach(item => {
                            dataTable.addRow([item.genre, item.count]);
                        });
                        const options = {
                            title: "ТОП-5 жанрів за найменшою кількістю книг",
                            width: 600,
                            height: 400,
                            colors: ['#9E7BFF'],
                            hAxis: {
                                ticks: [0, 2, 4, 6, 8, 10]
                            }
                        };
                        var chart = new google.visualization.BarChart(document.getElementById('countByGenreChart'));
                        chart.draw(dataTable, options);
                    });
            }

            // Викликати функцію для відображення діаграми за замовчуванням (наприклад, ТОП-5 жанрів з найбільшою кількістю книг)
            drawTop5MostBooksChart();

            // Обробники подій для флажків
            document.getElementById('CountByGenres').addEventListener('change', function () {
                if (this.checked) {
                    drawTop5MostBooksChart();
                }
            });

            document.getElementById('CountByGenres2').addEventListener('change', function () {
                if (this.checked) {
                    drawTop5LeastBooksChart();
                }
            });
        }
    </script>
}

